.about-container {
    text-align: center;
    padding: 20px;
  }
  
  .about-container h1 {
    font-size: 2.5rem;
    color: #2ecc71;
    margin-bottom: 20px;
  }
  
  .about-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  .about-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .image-container {
    width: 30%;
    text-align: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .image-container img:hover {
    transform: scale(1.05);
  }
  
  .image-container p {
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
  }
  